<?php
/**
 * @var Bss\WhitelistIP\Block\AutoLogin $block;
 */
?>
<?php if($block->checkEnable()) : ?>
<div class="actions" style="margin-top: 15px;">
    <a href="<?= $block->getUrl('whitelistip/autologin/autologin')  ?>">
    <button
        class="action-primary" id="auto_login_btn">
        <span><?= $block->escapeHtml(__('Auto Sign in')) ?></span>
    </button></a>
</div>
<?php endif; ?>
